body{
    background-color: #1a1a1a;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #1a1a1a;
    font-family: 'pacifico',cursive;
    font-size: 30px;
    text-align: center;
    color: #d4af37;
    margin: 0%;
    padding: 30px;
}
.conteneur{
    background-color: #2b2b2b;
border-radius: 50px;
color: white;
padding: 90px;
margin: 30px;
box-shadow:0 0 15px rgb(177, 131, 220)  ;

}
.titre{
    text-align: center;
    background-color: #d4af37;
    border-radius: 19px;
    margin-bottom: 40px;
    color: white;
    font-weight: bold;
    padding: 20px;
}
input{
width: 100%;
padding: 15px;
border-radius: 5px;
box-sizing: border-box;
border: 1px solid #d4af37;
background-color: #1a1a1a;
color: white;
margin: 12px;
}
input:focus{
    outline: none;
    border: 2px solid #d4af37;
}
#compteur{
    text-align: center;
    background-color:#1a1a1a;
    color: #d4af37;
    border-radius: 8px;
    border: 1px solid #d4af37;
    padding: 10px;
}
button{
    background-color:#d4af37;
    color: #1a1a1a;
    border-radius: 30px;
    padding: 7px 14px;
    border: none;
    margin: 3px;
    cursor: pointer;
    font-weight: bold;
}
.papaenfant{
    display: flex;
    gap: 70px;
    align-items: flex-start;
}
.enfant{
    background-color:#2b2b2b;
    border-radius: 15px;
    padding: 25px; 
    border: 1px solid #d4af37;
}
.laliste{
    background-color:#2b2b2b;
    border-radius: 50px;
    padding: 40px; 
    border: 1px solid #d4af37;

}
li{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 12px;
    padding-bottom: 10px;
   
}
.termine{
    text-decoration: line-through;
    color: #888;
}
li span{
    cursor: pointer;
    flex: 1;
    min-width: 0;
   
}
.cache{
    display: none;
}
@media (max-width: 768px){
    .conteneur{
        padding: 20px;
        margin: 10px;
    }
    .papaenfant{
        flex-direction: column;
    }
    input{
        max-width: 100%;
    }
    .enfant{
        width: 100%;
        box-sizing: border-box;
    }
    .laliste{
        width: 100%;
        box-sizing: border-box;
    }

    li{
        flex-direction: column;
        align-items: flex-start;
    }
}
input[type="datetime-local"] {
  width: 95%;
  box-sizing: border-box;
  padding-right: 5px;
}